<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.mariotaku.twidere.extension.timescape"
	android:versionCode="3"
	android:versionName="1.2">

	<uses-permission android:name="com.sonyericsson.eventstream.PLUGIN_PERMISSION"/>
	<uses-permission android:name="org.mariotaku.twidere.READ_DATABASES"/>
	<uses-permission android:name="org.mariotaku.twidere.ACCESS_SERVICE"/>

	<uses-sdk
		android:minSdkVersion="9"
		android:targetSdkVersion="15"/>

	<application
		android:name="ExtensionApplication"
		android:icon="@drawable/ic_extension"
		android:label="@string/app_name">
		<uses-library android:name="com.sonyericsson.eventstream_1"/>

		<activity android:name=".ExtensionSettingsActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.EXTENSION_SETTINGS"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>

		<receiver android:name=".ExtensionReceiver">
			<intent-filter>
				<action android:name="com.sonyericsson.eventstream.REGISTER_PLUGINS"/>
				<action android:name="com.sonyericsson.eventstream.REFRESH_REQUEST"/>
				<action android:name="com.sonyericsson.eventstream.VIEW_EVENT_DETAIL"/>
				<action android:name="com.sonyericsson.eventstream.SEND_STATUS_UPDATE"/>
				<action android:name="org.mariotaku.twidere.HOME_TIMELINE_REFRESHED"/>
			</intent-filter>
		</receiver>
	</application>

</manifest>